@mixin container() {
  // width: 1170px;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@mixin ul-reset() {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin button-reset() {
  padding: 0;

  border: none;
}

@mixin margin-reset {
  margin: 0;
}
