$additional-font: "\"Montserrat\", \"Arial\", sans-serif";
$decorative-font: "\"Amsdam\", \"Arial\", sans-serif";
$italic-font: "\"Crimson Text\", \"Georgia\", \"Times New Roman\", serif";

$page-font-color: #3e3d3d;

$section-header-font-color: #3e3d3d;
$section-header-font-color-light: #ffffff;

$header-bg: #ffffff;

$main-nav-font: #aaaaaa;

$logo-font: #757575;
$logo-font-light: #ffffff;

$footer-bg: #292929;
$footer-font: #949494;
$footer-font-light: #e3e3e3;
$footer-copy-border: #3e3e3e;

$feedback-input-border: #464646;
$feedback-button: #464646;
